@model carpe_diem_v2.Models.CadastroImovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CadastroImovel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEspaco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEspaco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcomodacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAcomodacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantHospedes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantHospedes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantCamas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantCamas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantBanheiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantBanheiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpOferecer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpOferecer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCheckin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCheckin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCheckout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCheckout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistPraia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistPraia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDiaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDiaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfAdicionais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfAdicionais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilizarImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilizarImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesativarImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesativarImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospede.ConfirmarSenha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
